@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Open Sans, sans-serif;
    font-weight: 250;
    color: #F9F6EE;
    background-color: #0f0f0f;
}


h1, h2 {
    font-family: Source Sans Pro,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(254, 253, 248);
    text-align: center;
}

h2 {
    font-size: 300%;
}


/* nav section */


nav {
    font-size: 110%;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-third {
    width: 33%;
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#media-link {
    margin-right: 15%;
}

#about-link {
    margin-left: 15%;
}

.col-third>a {
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

.col-third a:hover {
    border-bottom: 1px solid #F9F6EE;
}
footer .col-third a:hover {
    border-bottom: 1px solid #0f0f0f;
}

.box1>a {
    margin-right: 25%;
}
   
.box3>a {
    margin-left: 25%;
}

.footer-box1>a {
    margin-right: 10%;
}
   
.footer-box3>a {
    margin-left: 10%;
}

#logo {
    width: 100%;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('../images/CGPS1editfinal.jpg') no-repeat center center; 
    
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
}

/* Upcoming Dates Section */

i {
    font-size: 240%;
}

h2 {
    margin-top: 3%;
    margin-bottom: 3% ;
}

h3 {
    margin-bottom: 3%;
}

.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.row-third {
    width: 100%;  
}

#dates {
    height: 600px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
    background: url('../images/railway.jpg') no-repeat center center;
    
}

#dates ul {
    width: 600px;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;   
}
#dates a {
    text-decoration: none;
    color: #e55e1d;
}


#dates a:hover {
    border-bottom: 1px solid #e55e1d ;
}

#news a:hover {
    border-bottom: 1px solid #e55e1d ;
}
/* Upcoming Dates Section */

#mailing-list {
    height: 200px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
   
    
}
#mailing-list h3 {
    color: #0f0f0f;
    background: linear-gradient(to right, #0f0f0f, #e55e1d, #fcf6ba,#e55e1d, #0f0f0f);
}

#mailing-list ul {
    width: 300px;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    
    margin-bottom: 3%;   
}
#mailing-list a {
    text-decoration: none;
    color: orange;
}

.mailing-list-form {
    height: 30px;
    
}

#mailing-list a:hover {
    border-bottom: 1px solid #e55e1d ;
}


/* News Section */

#news a {
    text-decoration: none;
    color: #e55e1d;
}


#news-top {
    height: auto;
    width: auto;
    margin-bottom: 3%;
    background: url('../images/news-top.jpg') no-repeat center center;
    
}

#news-middle {
    height: auto;
    width: auto;
    margin-bottom: 3%;
    background: url('../images/news-middle.jpg') no-repeat center center;
}

#news-bottom{
    height: auto;
    width: auto;
    margin-bottom: 3%;
    background: url('../images/news-bottom.jpg') no-repeat center center;
}

.col-half {
    width: 50%;
    text-align: center;
}

#CD {
    width: 60%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-bottom: 3%;
}

.news-text{
    width: 80%;
    background-color: rgba(69, 68, 68, 0.7);
    margin-bottom: 3%;
    padding: 3%;
}

.news-text-middle {
    background-color: rgba(69, 68, 68, 0.7);
    margin-bottom: 3%;
    margin-left: 20%;
    padding: 3;
}

#baldricks {
    width: 50%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 3%;
}
.news-box2 {
    order: 2;
}

.fire-box {
    height: 600px;
    width: 100%;
    background: url('../images/footer-fire.jpg') no-repeat center center;   
}

#festival-poster {
    width: 45%;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    margin-top: 3%;
    margin-bottom: 3%;
}

/* footer styling */

#footer-container {
    height: 200px;
    width: auto;
    
}

#footer-logo {
    width: 70%;
}

#footer-info {
    margin-top: 5%
}

/* media page styling  */

#video {
    height: 550px;
    width: auto;
    text-align: center;
    margin-bottom: 3%;
    background: url('../images/railway.jpg') no-repeat center center;
    
}

#video p {
    margin-top: 30px;
    background-color: rgba(69, 68, 68, 0.7);
    text-align: center;
}


@media screen and (max-width: 1020px) {
    
    
    #media-link {
        margin-right: 5%;
    }
    
    #about-link {
        margin-left: 5%;
    }
    
    
    
    .box1>a {
        margin-right: 10%;
    }
       
    .box3>a {
        margin-left: 10%;
    }
    
    .footer-box1>a {
        margin-right: 10%;
    }
       
    .footer-box3>a {
        margin-left: 10%;
    }
    
    @media screen and (max-width: 700px) {
    
        body {
            font-size: 90%;
        }
    
        #media-link {
            margin-right: 5%;
        }
        
        #about-link {
            margin-left: 5%;
        }
        
        .box1>a {
            margin-right: 7%;
        }
           
        .box3>a {
            margin-left: 7%;
        }
        
        .footer-box1>a {
            margin-right: 10%;
        }
           
        .footer-box3>a {
            margin-left: 10%;
        }

    
/* @media screen and (max-width: 600px) {  

    
/* nav media query rules */

@media screen and (max-width: 600px) {

    

    .col-third {
        width: 100%;
        text-align: center;
    }

    #logo {
        width: 75%;
    }

    .box1 {
        order: 2;
        font-size: 100%;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        
    
    }

    .box2 {
        order: 1;
        margin-top: 10px;
        margin-bottom: 10px;
        
       
    }

    .box3 {
        order: 3;
        font-size: 100%;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        
    }

    .box1>a {
        margin: 1%;

    }

    .box3>a {
        margin: 1%;

    }

    .align-right {
        text-align: center;
    }

    .align-left {
        text-align: center;
    }

    #media-link {
        margin: 1%;
    }

    #about-link {
        margin: 1%;
    }

    /* Hero image media query rules */
    
    .hero-box {
        height: 400px;
        width: 100%;
        background: url('../images/CG_Small.jpg') no-repeat center center;
}

#dates ul {
    width: auto;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-bottom: 3%;
}

h2 {
    margin-bottom: 20px;
}


/* news section style rules for less than 600px*/

.news-text {
    width: auto;
    background-color: rgba(69, 68, 68, 0.7);
}
.news-box2 {
    order: 0;
}

.news-text-middle {
    background-color: rgba(69, 68, 68, 0.7);
    margin: 3%;
    margin-left: 0;
    
}


/* footer queries */

.footer-box1 {
    order: 2;
    font-size: 180%;

}

.footer-box2 {
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;

}

.footer-box3 {
    order: 3;
    font-size: 180%;
}

}
    }}
