@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 250;
    color: #F9F6EE;
    background-color: #0f0f0f;
}


h1, h2 {
    font-family: Source Sans Pro,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(254, 253, 248);
    text-align: center;
}

h2 {
    font-size: 300%;
}


/* nav section */


nav {
    font-size: 110%;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-third {
    width: 33%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#media-link {
    margin-right: 5%;
}

#about-link {
    margin-left: 5%;
}

.col-third>a {
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

.col-third a:hover {
    border-bottom: 1px solid #F9F6EE;
}


.box1>a {
    margin-right: 10%;
}
   
.box3>a {
    margin-left: 10%;
}

#logo {
    width: 100%;
}

.hero-box {
    height: 400px;
    width: 100%;
    background: url('/assets/images/CGPS1editfinal.jpg') no-repeat center center;   
}

/* Upcoming Dates Section */

i {
    font-size: 240%;
}


.col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}


.row-third {
    width: 33%;
    
}

#dates {
    height: 600px;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    background: url('/assets/images/railway.jpg') no-repeat center center;
    margin-top: 50px;
}

#dates ul {
    width: fit-content;
    font-size: 110%;
    list-style: none;
    background-color: rgba(69, 68, 68, 0.7);
    margin: 0 auto;
    margin-top: 2%;   
}
#dates a {
    text-decoration: none;
    color: orange;
}


#dates a:hover {
    border-bottom: 1px solid orange ;
}


@media screen and (max-width: 600px) {

    /* nav media query rules */

    .row {
        flex-direction: column;
    }

    .col-third {
        width: 100%;
        text-align: center;

    }

    #logo {
        width: 75%;
    }

    .box1 {
        order: 2;
        font-size: 180%;
    
    }

    .box2 {
        order: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }

    .box3 {
        order: 3;
        font-size: 180%;
    }

    .box1>a {
        margin: 20%;

    }

    .box3>a {
        margin: 20%;

    }

    .align-right {
        text-align: center;
    }

    .align-left {
        text-align: center;
    }

    #media-link {
        margin: 20%;
    }

    #about-link {
        margin: 20%;
    }

    /* Hero image media query rules */
    .hero-box {
        height: 400px;
        width: 100%;
        background: url('/assets/images/CG_Small.jpg') no-repeat center center;


    }

}