@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 250;
    color: #F9F6EE;
    background-color: #0f0f0f;
}

/* nav section */

nav {
    font-size: 110%;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-third {
    width: 33%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

#media-link {
    margin-right: 5%;
}

#about-link {
    margin-left: 5%;
}

.col-third>a{
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}



.col-third a:hover {
    border-bottom: 1px solid #F9F6EE;
}


.box1>a {
    margin-right: 10%;
}

.box3>a {
    margin-left: 10%;
}

#logo {
    width: 100%;
}

.hero-box {
    height: 430px;
    width: 100%;
    background: url('/assets/images/CGPS1editfinal.jpg') no-repeat center center;
} 

@media screen and (max-width: 600px) {
   
   /* nav media query rules */
   
    .row {
        flex-direction: column;
    }

    .col-third {
        width: 100%;
        text-align: center;
    
    }
    
    #logo {
        width: 75%;
    }
    .box1 {
        order: 2;
        font-size: 180%;
       
    }

    .box2 {
       order: 1;
       margin-bottom: 10px;
       

    }

    .box3 {
        order: 3;
        font-size: 180%;
    }

    .box1>a {
        margin: 20%;
        
    }
    
    .box3>a {
        margin: 20%;
        
    }

    .align-right {
        text-align: center;
    }
    
    .align-left {
        text-align: center;
    }

    #media-link {
        margin: 20%;
    }
    
    #about-link {
        margin: 20%;
    }
    /* Hero image media query rules */

    
}



